<form [formGroup]="auctionForm" (ngSubmit)="onFormSubmitted(auctionForm.value)" #formDirective="ngForm">
  <ion-list>
    <mat-icon
      #toolTip="matTooltip"
      *ngIf="auctionForm.get('auctionType').value"
      style="position: absolute; z-index: 9999 !important; right: 2em; top: 1.4em"
      (click)="showToolTip(auctionForm.get('auctionType').value)"
      [matTooltip]="toolTipInfo"
      matTooltipPosition="right"
      >info_outline</mat-icon
    >
    <mat-form-field color="primary">
      <mat-label>Auction Type</mat-label>
      <mat-select formControlName="auctionType" (selectionChange)="togglePriceFields($event)">
        <mat-option>-- None --</mat-option>
        <mat-optgroup label="Regular">
          <mat-option value="sale"> Sale </mat-option>
        </mat-optgroup>
        <mat-optgroup label="Bids">
          <mat-option value="absolute"> Absolute </mat-option>
          <mat-option value="minBid">Minimum Bid</mat-option>
          <mat-option value="reserve">Reserve</mat-option>
        </mat-optgroup>
      </mat-select>
      <mat-error *ngIf="auctionForm.get('auctionType').getError('required')">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="auctionForm.get('endOfBidDate').disabled" class="example-full-width">
      <mat-label>Price</mat-label>
      <input formControlName="price" type="number" matInput />
      <span matSuffix>&nbsp; $ &nbsp;&nbsp;</span>
      <mat-error *ngIf="auctionForm.get('price').getError('required')">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="isMinimumBid" class="example-full-width">
      <mat-label>Minimum Bid Price</mat-label>
      <input formControlName="minBidPrice" type="number" matInput />
      <span matSuffix>&nbsp; $ &nbsp;&nbsp;</span>
      <mat-error *ngIf="auctionForm.get('minBidPrice').getError('required')">This field is required</mat-error>
    </mat-form-field>

    <ion-item *ngIf="auctionForm.get('endOfBidDate').enabled">
      <ion-label position="floating">End of Bid Date</ion-label>
      <ion-datetime
        formControlName="endOfBidDate"
        (ionFocus)="onEndOfBidClicked()"
        display-timezone="utc"
        displayFormat="D-MMM-YY HH:mm"
        [min]="bidStartDate"
        [max]="bidEndDate"
      ></ion-datetime>
    </ion-item>
    <div
      class="error-field"
      *ngIf="auctionForm.get('endOfBidDate').enabled && auctionForm.get('endOfBidDate').errors && formDirective.submitted"
    >
      <div *ngIf="auctionForm.get('endOfBidDate').getError('required')">This field is required</div>
    </div>

    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>
    <div class="error-field" *ngIf="auctionForm.get('title').errors && formDirective.submitted">
      <div *ngIf="auctionForm.get('title').getError('required')">This field is required</div>
    </div>
    <ion-item>
      <ion-label position="floating">Make</ion-label>
      <ion-select formControlName="make" interface="popover" (ionChange)="onMakeSelected($event)">
        <ng-container *ngFor="let cars of carsAndModels | keyvalue">
          <ion-select-option [value]="cars.key">{{ cars.key }}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <div class="error-field" *ngIf="auctionForm.get('make').errors && formDirective.submitted">
      <div *ngIf="auctionForm.get('make').getError('required')">This field is required</div>
    </div>

    <ion-item>
      <ion-label position="floating">Model</ion-label>
      <ion-select formControlName="model" interface="popover">
        <ng-container *ngFor="let model of availableModels">
          <ion-select-option [value]="model">{{ model }}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <div class="error-field" *ngIf="auctionForm.get('model').errors && formDirective.submitted">
      <div *ngIf="auctionForm.get('model').getError('required')">This field is required</div>
    </div>

    <ion-item>
      <ion-label position="floating">Year</ion-label>
      <ion-datetime formControlName="year" displayFormat="MMM YYYY" min="1950"></ion-datetime>
    </ion-item>
    <div class="error-field" *ngIf="auctionForm.get('year').errors && formDirective.submitted">
      <div *ngIf="auctionForm.get('year').getError('required')">This field is required</div>
    </div>

    <app-mileage [formGroup]="auctionForm"></app-mileage>
    <div class="error-field" *ngIf="auctionForm.get('mileage').errors && formDirective.submitted">
      <div *ngIf="auctionForm.get('mileage').getError('required')">This field is required</div>
    </div>

    <ion-item>
      <ion-label position="floating">Vehicle State</ion-label>
      <ion-select formControlName="vehicleState" interface="popover">
        <ion-select-option value="new">New</ion-select-option>
        <ion-select-option value="used">Used</ion-select-option>
        <ion-select-option value="repair">Needs Repair</ion-select-option>
        <ion-select-option value="parts">Parts Only</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="error-field" *ngIf="auctionForm.get('vehicleState').errors && formDirective.submitted">
      <div *ngIf="auctionForm.get('vehicleState').getError('required')">This field is required</div>
    </div>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="description" cols=""></ion-textarea>
    </ion-item>
    <div class="error-field" *ngIf="auctionForm.get('description').errors && formDirective.submitted">
      <div *ngIf="auctionForm.get('description').getError('required')">This field is required</div>
    </div>

    <app-image [images]="auctionFilledData?.images || []" [formGroup]="auctionForm" [formSubmitted]="isFormSubmitted"></app-image>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" type="submit">Submit Auction</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</form>
