ion-row {
  align-items: center;
  justify-content: center;
}

ion-item {
  --highlight-height: 0;
}

.mat-form-field {
  font-size: 16px;
  width: 100%;
  padding-top: 1em;
  padding-left: 1.25em;
}

.mat-optgroup,
.mat-option {
  font-size: 14px !important;
}
