.value {
  width: 60%;
}

.apply-filter-button {
  margin: 0 16px;
}

.mat-form-field {
  margin: 0 10px 0;
  width: calc(100% - 10px);
  font-size: 17px;
}

ion-row {
  align-items: center;
  justify-content: center;
}

ion-item {
  --padding-start: 10px;
  --min-height: 55px;
}
