.value {
  width: 60%;
}

.apply-filter-button {
  margin: 0 16px;
}

.mat-form-field {
  margin: 10px 10px 20px;
  width: calc(100% - 10px);
  font-size: 17px;
}

ion-item {
  --padding-start: 10px;
  --min-height: 55px;
}
