.no-img {
  margin: 10px 20px;
}

.image {
  max-height: 300px;
}

.auction-details {
  margin: 10px 20px;
}

.date {
  margin-right: 10px;
  display: flex;
  flex-direction: row-reverse;
}

ion-col {
  background-color: #f7f7f7;
  border: solid 1px #ddd;
  padding: 10px;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
